<div class="row">
  <div
    class="col-lg-4 col-md-6 col-sm-12 mb-3"
    *ngFor="let recipe of recipes() | keyvalue"
  >
    <a class="text-reset text-decoration-none" href="#">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">{{ recipe.value.title }}</h2>
          <app-tag-list [tags]="recipe.value.tags" *ngIf="recipe.value.tags" />
          <p class="card-text">{{ recipe.value.description }}</p>
        </div>
      </div>
    </a>
  </div>
</div>
