---
layout: default
---

<div class="py-4 px-2 text-center">
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
</div>

{% for post in paginator.posts %}
  <div class="post">
    <h2><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
    {% if post.tags %}
    <p>
      {% for tag in post.tags %}
        {% include tag.html tag=tag %}
      {% endfor %}
    </p>
    {% endif %}
    <p>{{ post.description }}</p>
  </div>
{% endfor %}

<div class="py-3">
  <div class="text-center form-group">
    <div class="btn-group" role="group" aria-label="Basic example">
      {% if paginator.next_page %}
      <a class="btn btn-secondary" href="{{ paginator.next_page_path | prepend: site.baseurl }}">Older</a>
      {% else %}
      <a class="btn btn-secondary disabled" href="#">Older</a>
      {% endif %}
      {% if paginator.previous_page %}
      <a class="btn btn-secondary" href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Newer</a>
      {% else %}
      <a class="btn btn-secondary disabled" href="#">Newer</a>
      {% endif %}
    </div>
  </div>
</div>
